{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %}


<div class="container">
    <h1 class="title">To Do App</h1>
    <form method="post">
        {% csrf_token %}
        <div class="input-container">
            <input class="input" type="text" placeholder="add task" name="title" required />
            <input class="input" type="date" placeholder="add task" name="date" required />

            <button type="submit" class="add-btn">Add</button>
        </div>
    </form>
    <div class="task-container">
        {% for ts in tasks %}
        <div class="task-title">{{ts.title}}&nbsp;&nbsp;&nbsp;(created on {{ts.date_created}})</div>
        <a href="{% url 'delete' ts.id %}"><button class="del-btn">Delete</button></a>
        <a href="{% url 'update' ts.id %}"><button class="edit-btn">Edit</button></a>
        <br />

        {% endfor %}
    </div>
</div>
{% endblock %}
